*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    position:absolute;  
    height:100vh;
    width:100vw;    
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: poppins, sans-serif;
    background-color: #000;
}
/* nav {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    background-color:#000;
    height:3.4em;
    width:60em;
    border-radius:1.4em;
} */
nav a {
    font-size:1.1em;
    font-weight: 800;
    position:relative;
    padding:1em 2em;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-style:oblique;
    transition: 0.5s;
}
nav a:hover {
    color: #0ef;
}

nav a span {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border-bottom: 2px solid #0ef;
    z-index: -1;
    border-radius:1.4em;
    opacity:0;
    transform: scale(0);
    transition: 0.5s;
}
nav a:hover span {
    transform: scale(1);
    opacity:1;
}

